<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registrado com Sucesso</title>
    <link rel="shortcut icon" href="/images/favicon.png" type="image/png">
    <link rel='stylesheet' type='text/css' media='screen' href='/Style/partials/register-success.css'>
    <link href="https://fonts.googleapis.com/css2?family=Archivo:wght@400;700&amp;family=Poppins:wght@400;600&amp;display=swap" rel="stylesheet">
</head>
<script>
    let query = location.search;
    
     setTimeout(function () {
         // after 2 seconds
         window.location = "/study" + query;
     }, 2000)

</script>
<body>
    <div class="container">
            <p> Cadastrado com sucesso </p>
            <img src="/images/icons/success-check-icon.svg" alt="Sucesso">
    </div>
    
</body>
</html>